@font-face {
    font-family: "Benguiat_ITC";
    src: url("assets/BenguiatITCbyBT-Bold.otf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Benguiat_ITC", "Times New Roman";
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container {
    text-transform: uppercase;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* border: 2px solid white; */
}

.container span {
    font-size: 6rem;
}

.container p {
    -webkit-text-stroke: 2px red;
    color: transparent;
}

.fst_word {
    display: flex;
    margin-bottom: -60px;
    /* border: 2px solid white; */

}

.big {
    font-size: 6rem;
    position: relative;
    bottom: 13px;
}

.border_top {
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: red;
}

.border_btm {
    display: block;
    position: absolute;
    bottom: 16px;
    height: 2px;
    width: 105%;
    background-color: red;
}
 